In [1]:
from useful_functions import *

In [2]:
ge10, ge15, ge17 = read_in_election_results()

### Original method

In [3]:
diff = score_campaigns_difference(ge17, ge15)

In [4]:
diff.sort_index().head()

           prev_election  election_result  change
E14000530         8468.0          15477.0  7009.0
E14000531         8835.0          12010.0  3175.0
E14000532        13481.0          20507.0  7026.0
E14000533        15901.0          17605.0  1704.0
E14000534         6324.0          13690.0  7366.0

### Uniform national swing 
i.e. just add GB swing to prev_election, works for ge17 and ge15

In [7]:
uns_17 = score_campaigns_uns(ge17, ge15)

In [8]:
uns_17.head()

           prev_election  election_result       uns  difference
E14000530       0.183326         0.316180  0.281326    0.034854
E14000531       0.223688         0.298496  0.321688   -0.023192
E14000532       0.266861         0.388464  0.364861    0.023603
E14000533       0.347814         0.384296  0.445814   -0.061517
E14000534       0.111975         0.227197  0.209975    0.017223

In [9]:
uns_15 = score_campaigns_uns(ge15, ge10)

In [10]:
uns_15.head()

           prev_election  election_result       uns  difference
ons_id
E14000530       0.120946         0.183326  0.135946    0.047380
E14000531       0.197934         0.223688  0.212934    0.010753
E14000532       0.224182         0.266861  0.239182    0.027679
E14000533       0.374472         0.347814  0.389472   -0.041659
E14000534       0.086367         0.111975  0.101367    0.010608

### YouGov mrp [model](https://yougov.co.uk/uk-general-election-2019/)
Only works for ge17

In [12]:
mrp = score_campaigns_mrp(ge17)

In [13]:
mrp.head()

           election_result  yougov_mrp  difference
E14000530         0.316180       0.291    0.025180
E14000531         0.298496       0.293    0.005496
E14000532         0.388464       0.352    0.036464
E14000533         0.384296       0.407   -0.022704
E14000534         0.227197       0.219    0.008197